<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OracleGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OracleGen.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="packageName" serializeAs="String">
                <value />
            </setting>
            <setting name="InsertChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectByPKChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </OracleGen.Properties.Settings>
    </userSettings>
</configuration>